{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        {% comment %} <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon"> {% endcomment %}
    {% block style %}{% endblock style %}
    <style>
        .nav-item{
            padding-left: 10px;
        }
    </style>
</head>

<body>
    {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="padding: 10px; font-weight: bolder;">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">Quality education</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link {% block materialactive %}{% endblock materialactive %}" aria-current="page" href="material">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block mentoractive %}{% endblock mentoractive %}" aria-current="page" href="mentor">Mentor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block loansactive %}{% endblock loansactive %}" aria-current="page" href="loans">Loans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block jobsactive %}{% endblock jobsactive %}" aria-current="page" href="jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block practiceactive %}{% endblock practiceactive %}" aria-current="page" href="practice">Practice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block helpdeskactive %}{% endblock helpdeskactive %}" aria-current="page" href="help_desk">Help Desk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " aria-current="page" href="c_progress">Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block analysisactive %}{% endblock analysisactive %}" aria-current="page" href="progress">Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block profileactive %}{% endblock profileactive %}" aria-current="page" href="profile">Profile</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}
    {% block body %}{% endblock body %}
    {% comment %} <script src="{% static 'script.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
</body>


</html>