<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>

    <div class="container my-4">
        <h1>{{ question }}</h1>
        <div class="card">
            <b><p>Sample Input:{{ sinput }}</p>
            <p>Sample Output:{{ soutput }}</p></b>
        </div>
    </div>
    <div class="container my-5">

<form  method="post">
        {% csrf_token %}
    <textarea name="seed" id="codeArea" class="form-control"  rows="10" placeholder="enter code here...." >{{ code }}</textarea>
        <button type="submit" class="btn btn-primary mt-5">submit</button>
</form> 
</div>
<div class="container">
    <h1>{{ output }}</h1>
    <h1>TestCases:4: <br>Passed TestCases:{{ score }} <br> Not Passed TestCases:{{ fscore }}</h1>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>