<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Leaderboard</title>
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Leaderboard</h2>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard_entries %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ entry.uname }}</td>
                    <td>{{ entry.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
